<nav class="navbar">
  <div class="nav-left">
    <a class="navbar-brand static-link" style="color: turquoise">ShareSphere</a>
    <a href="/">Home</a> <!-- was /home but router expects just '/'-->
    <a href="allPages">Terrestrial</a>
    <a href="shared">Extraterrestrial</a>
    <!-- <div class="subnav">
      <button class="subnavbtn">Terrestrial<i class="fa fa-caret-down" href="/list"></i></button>
      <div class="subnav-content">
        <a href="/allPages">All Pages</a>
        <a href="/a">Annul</a>
        <a href="/b">Beta</a>
        
        <a href="#team">Team</a>
      <a href="#careers">Careers</a>
      </div>
    </div> -->
    <!-- <div class="subnav">
      <button class="subnavbtn">Extraterrestrial<i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="/b">Bring</a>
        <a href="#deliver">Deliver</a>
      <a href="#package">Package</a>
      <a href="#express">Express</a>
      </div>
    </div> -->
    <!-- <a href="#contact">Contact</a> -->
    <a href="/person" class="nav-link"> Contact </a>
    <!-- Adding <li> brackets add a dot to the top right of the button for some reason. -->
  </div>
  <a href="/login" class="login-link">Login</a>
</nav>








<!-- <header>
    <nav class="navbar"> 
         navbar-expand-md navbar-dark bg-dark 
        <ul class="navbar-links">
            <li><a routerLink="/" class="nav-link"> Home </a></li>
             <li><a href="https://static.wikia.nocookie.net/f5367213-cfda-4524-9382-9aa15dfc2a74/scale-to-width/755"
                target="_blank" class="nav-link"> Malice </a></li> 
            <li><a routerLink="/a" class="nav-link"> Component_A </a> </li>  navbar-brand 
            <li><a routerLink="/b" class="nav-link"> Component_B </a></li>
        </ul>
    </nav>
</header> -->


<!-- 
<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/logo.png" alt="My App Logo" />
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
<li><a routerLink="/about">Services</a></li>
<li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Blog</a></li>
  </ul>
  <div class="navbar-actions">
     Add login/logout buttons or user-related actions here 
</div>
</nav>
 -->



<!-- 
    `<nav>
      <ul>
        <li><a routerLink="/a">Component A</a></li>
         Add more menu items here 
      </ul>
    </nav>`
  , -->